<!DOCTYPE html>
<html>

{{> head title='Configuración'}}

<body>

{{> navbar}}

<div id="top"></div>
<div class="wrapper">
    <div id="content">

        <div class="container" style="padding-top: 70px;">
            <h2>Configuración del sistema</h2>
            <p>A continuación, puede editar la configuración del sistema de acuerdo a sus necesidades.</p>

            <div class="line"></div>

            <h2 id="actImg">Actualizar Imágen</h2>
            <p>Seleccione una imágen o logotipo de su empresa que será mostrado en distintas partes del sistema para
                que sus clientes puedan identificar su negocio.</p>
            <div class="d-flex justify-content-center">
                <div class="card border-dark">
                    <img src="{{ img }}" class="card-img-top" style="max-width:450px;">
                    <div id="imagePreview"></div>
                    <div class="card-body">
                        <form action="imagen" method="POST" enctype="multipart/form-data">
                            <h5>Imágen actual</h5>
                            <div class="form-group">
                                <label for="img">Suba o actualice la imágen de su empresa aquí</label>
                                <input type="file" class="form-control-file" id="img" name="imagen"
                                       onchange="return fileValidation()">
                            </div>
                            <button class="btn btn-block btn-lg btn-primary btn-rounded" type="submit">Subir
                                Imágen
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="line"></div>

        </div>
    </div>
</div>

{{> scripts}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    function fileValidation() {
        var fileInput = $('#img');
        var filePath = fileInput.val();
        var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
            fileInput.val('');
            return false;
        }
        return true;
    }
</script>
</body>

</html>
