<!DOCTYPE html>
<html>
{{> head title='Configuración'}}
    <body class="bg-secondary-color padding-top-fix">
    {{> navbar}}
    <div id="top"></div>
    <div class="wrapper h-100">
        <div id="content" class="d-flex align-items-center justify-content-center pb-5 pt-5 h-100">
            <div class="w-100">
                <div class="responsive-card">
                    <div class="card pr-3 pl-3 pb-3 pt-3 text-center mt-2">
                        <h1 class="h3 mb-3 font-weight-normal text-center w-100">
                            Imágen actual
                        </h1>
                        <div class="pr-5 pl-5">
                            <img src="{{ imgConfiguracion }}" alt="" class="w-100 mb-3">
                        </div>
                        <div id="imagePreview" class="pr-5 pl-5"></div>
                        <form action="imagen" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="img">Suba o actualice la imágen de su empresa aquí.</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="img" name="imagen" onchange="return fileValidation()" required>
                                    <label class="custom-file-label" for="validatedCustomFile">Elegir archivo...</label>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-warning btn-block" type="submit">
                                Subir Imágen
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> scripts}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    function fileValidation() {
        var fileInput = $('#img');
        var filePath = fileInput.val();
        var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
            fileInput.val('');
            return false;
        }
        return true;
    }
</script>
</body>

</html>
