<!DOCTYPE html>
<html lang="en">

{{> head title='Escritorio'}}

<body>

{{> navbar}}

<h1>Escritorio</h1>
<h4>Atendiendo a <small>....</small></h4>

<button class="btn btn-primary">
    Atender siguiente ticket
</button>

<script src="js/libs/jquery.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/socket.escritorio.js"></script>

</body>

</html>
