<!DOCTYPE html>
<html>

{{> head title='Iniciar Sesi칩n'}}

<body>

<div class="mt-5 wrapper">
    <div id="content">
        <form class="container-fluid" action="/inicio-de-sesion" method="post">
            <div class="input-group">
                <div class="row">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Usuario</span>
                    </div>
                    <input type="text" name="nombreUsuario" placeholder="Usuario" required autofocus>
                </div>
                <div class="row">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Contrase침a</span>
                    </div>
                    <input type="password" name="contrasena" placeholder="Contrase침a" required>
                </div>
                <div class="row">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesi칩n</button>
                </div>
            </div>
        </form>
    </div>
</div>

{{> scripts}}

</body>

</html>
