.responsive-sign-in-card {
    width: 100%;
    max-width: 660px;
    margin: auto;
}

.responsive-split-border {
    border-right: 1px solid #dee2e6 !important;
    border-bottom: 0 !important;
}

@media (max-width: 575.98px) {
    .responsive-sign-in-card {
        max-width: 280px;
    }
}

@media (max-width: 767.98px) {
    .responsive-sign-in-card {
        max-width: 330px;
    }

    .responsive-split-border {
        border-right: 0 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
}