@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}

body.padding-top-fix {
    padding-top: 4.5rem;
}

.bg-main-color {
    background: #2E53A3;
}

.text-main-color {
    color: #2E53A3 !important;
}

.bg-secondary-color {
    background: #f0f0f0;
}

.text-small {
    font-size: 0.75rem;;
}

.responsive-sm-card {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

.responsive-card {
    width: 100%;
    max-width: 660px;
    margin: auto;
}

.responsive-split-border {
    border-bottom: 0 !important;
    border-right: 1px solid #dee2e6 !important;
}

@media (max-width: 575.98px) {
    .responsive-card {
        max-width: 280px;
    }
}

@media (max-width: 767.98px) {
    .responsive-card {
        max-width: 330px;
    }

    .responsive-split-border {
        border-right: 0 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
}