.responsive-new-ticket-card {
    width: 100%;
    max-width: 660px;
    margin: auto;
}

@media (max-width: 575.98px) {
    .responsive-new-ticket-card {
        max-width: 280px;
    }
}

@media (max-width: 767.98px) {
    .responsive-new-ticket-card {
        max-width: 330px;
    }
}