<nav class="navbar navbar-expand-md navbar-dark bg-main-color fixed-top">
    <a class="navbar-brand" href="/index">
        <img src="{{ img }}" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-md-0">
            <li class="nav-item {{#if active.Inicio}}active{{/if}}">
                <a class="nav-link" href="/index">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publico">Pantalla pública</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nuevo-ticket">Pantalla de tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{#if active.Escritorios}}active{{/if}}" href="/escritorios">Escritorios</a>
            </li>
            <li class="nav-item {{#if active.Configuracion}}active{{/if}}">
                <a class="nav-link" href="/configuracion">Configuración</a>
            </li>
        </ul>
    </div>
</nav>
